@font-face {
    font-family: SFProDisplay-Regular;
    src: url('../fonts/SFPRODISPLAYREGULAR.OTF');
}

div{
    /* border: solid 1px #1e1f23; */
    border-radius: 4px;


}
body {
    width: 100%;
    min-width: 500px;
    line-height: 1.34;
    font-family: SFProDisplay-Regular, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
}
.gray {
    background: #F1F2F6;
    height: 715px;
    }
.content_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto;
    padding-top: 120px;
    padding-bottom: 70px;
    padding-right: 34px;
    padding-left: 0;
    height: 525px;
    max-width: 1000px;
}

        .logo_box {
            /* display: block; */
            /* border: solid #4DB42C; */
            position: relative;
            
            padding-top: 50px;
            height: 350px;
            max-width: 500px;
            text-align: left;
        }

                .facebook_logo{
                    width: 300px;
                    margin-left: 10px;
                }
                .connect_with{
                    /* border: solid #4DB42C; */
                    
                    padding-left: 40px;
                    margin-top: -10px;
                    
                    line-height: 30px;
                    font-weight: 500;
                    font-size: 24px;
                    font-family: Tahoma;
                    text-align: start;
                    
                }

                                        
                                        @media only screen and (max-width: 1075px) and ( min-width: 901px) {
                                            .content_box{
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-between;

                                                
                                                max-width: 1080px;
                                                min-width: 900px;
                                            }
                                            
                                            .logo_box {
                                            
                                                width: 400px;
                                                }
                                                    .connect_with{
                                                    width: 350px;    
                                                    font-size: 22px;

                                                    }
                                                }     

                                                    @media only screen and (max-width: 900px) {
                                                              
                                                        .content_box{

                                                            justify-content: flex-start;
                                                            align-items: center;

                                                            
                                                            padding: 0px;
                                                            flex-direction: column;
                                                            margin: 0 0px auto;
                                                        }
                                                        .logo_box {
                                                            text-align: center;
                                                            padding: 0px; 
                                                            margin: 0 0px auto;
                                                        }
                                                            .connect_with{
                                                                text-align: center;
                                                                font-size: 22px;
                                                                width: 395px; 
                                                                padding: 0px; 
                                                                padding-bottom: 10px;
                                                                margin: 0 20px auto;   
                                                            }
                                                        

                                                    }
                                                


        .inputs_side {
            /* display: block; */
            /* border: solid #4DB42C; */
            margin: 0 15px auto;
            width: 395px;
            height: 400px;
            
            text-align: center;
        }

                .input_container {
                    /* display: block; */
                    margin: 0 auto;
                    border: none;
                    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 10px;
                    padding: 15px; 
                    width: 365px;
                    height: 320px;
                    border-radius: 10px;
                    background-color: white;
                }

                        input[type="text"], input[type="password"] {
                            
                            border: 1px solid rgba(200, 200, 200, 0.7);
                            width: 365px;
                            height: 55px;
                            padding-left: 15px;
                            border-radius: 5px;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            font-size: 17px;
                            margin-bottom: 10px;
                            font-weight: 500;
                            
                        }


                        input[type="text"]:focus, input[type="password"]:focus {
                            outline: none;
                            border: 1px solid  rgb(66, 109, 236);
                            box-shadow: rgba(99, 184, 249, 0.718) 0px 0px 3px;
                        }


                        .Butt_1 {
                            
                            border: none;
                            border-radius: 8px;
                            margin-bottom: 10px;
                            width: 365px;
                            height: 50px;
                            font-size: 20px;
                            background-color: #1977f3;
                            font-weight: bold;
                            color: white;
                        }

                        .Butt_1:hover {
                            background-color: #136fe8;
                        }
                        

                        .f_pass {
                            margin-top: 15px;

                            color: #1977f3;
                            text-decoration-line: none;
                            font-size: 14px;
                        }
                        .f_pass:hover {
                            text-decoration: underline;

                        }

                        .line {
                            border: none;
                            border-top:  solid 1px rgba(200, 200, 200, 0.7);
                            margin: 20px 0;
                        }

                        .Butt_2 {
                            
                            border: none;
                            border-radius: 8px;
                            margin-bottom: 10px;
                            width:auto;
                            padding: 0px 20px ;
                            height: 50px;
                            font-size: 16px;
                            background-color: #4DB42C;
                            font-weight: bold;
                            color: white;
                        }
                        .Butt_2:hover {
                            background-color: #27ad27;
                        }


                        .create_page {
                            font-family: Arial, Helvetica, sans-serif;
                            margin: 0px auto;
                            /* border: none; */
                            margin-top: 25px;
                            font-weight: 100;
                            font-size: 14px;
                           
                        }
                        
                        .bold{
                            font-weight: 700;
                        }
                        .bold:hover {
                            text-decoration: underline;
                        }
                        

 
.white {

}

        .footer {
            text-decoration: none;

            padding-left: 40px;
            max-width: 1000px;
            margin: 0px auto; 

            font-size: 14px;
            color: #737373;
            word-spacing: 4px;
            
            



        }

        .lan {
            text-align: left;

            /* word-spacing: 2px; */
            font-size: 14px;
            color: #737373;
            line-height: 20px;
            color: #737373;
            
            padding-top: 15px;
            
        }

        .lang {
            text-align: left;
            word-spacing: 2px;
            font-size: 14px;
            color: #737373;
            line-height: 20px;
            color: #737373;
            
            padding-top: 15px;
            
            
            /* margin-bottom: -10px; */

        }



        .lang:hover {
        text-decoration: underline;
        

        }

                .hovertext {
                    position: relative;
                }
                
                .hovertext:before {
                    border: solid 1px rgb(143, 143, 143);
                    content: attr(data-hover);
                    visibility: hidden;
                    opacity: 0;
                
                    background-color: #fff ;
                    color: black;
                    text-align: center;
                    border-radius: 2px;
                    padding: 2px 5px;
                    transition: opacity 1s ease-in-out;
                
                    position: absolute;
                    /* z-index: 0; */
                    left: 50px;
                    top: 110%;
                }
                
                .hovertext:hover:before {
                    opacity: 1;
                    visibility: visible;
                }
        /* .plus {
            border: #737373;
            border-radius: 2px;
            
            font-size: 40px;
            font-weight: 800;
            color: #737373;   
        } */


